@keyframes colorRotate {
  from {
    background-color: #E54D2E;
  }
  10% {
    background-color: #E5484D;
  }
  20% {
    background-color: #E54666;
  }
  30% {
    background-color: #ff3399;
  }
  40% {
    background-color: #AB4ABA;
  }
  50% {
    background-color: #6E56CF;
  }
  60% {
    background-color: #5B5BD6;
  }
  70% {
    background-color: #0090FF;
  }
  80% {
    background-color: #29A383;
  }
  90% {
    background-color: #F76B15;
  }
  95% {
    background-color: #FFC53D;
  }
  97% {
    background-color: #BDEE63;
  }
  100% {
    background-color: #E54D2E;
  }
}

.App {
  text-align: center;
  animation: colorRotate 20s ease-in-out infinite;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
