.app {
  width: 100%;
  height: 100%;
}

.app__cover {
  width: 100%;
  height: 100%;
  position: relative;
}

.app__cover::before {
  content: '';
  position: absolute;
  background-color: #00000042;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}

.app__cover img {
  object-fit: cover;
  width: 100%;
}

.app__cover h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  width: 100%;
  text-align: center;
}