:root {
  --blue3: #0D2847;
  --blue5: #004074;
  --blue6: #104D87;
  --blue8: #2870BD;
  --blue9: #0090FF;
  --blue10: #3B9EFF;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  /* Improve text rendering */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: #ffffcd;
  background-color: var(--background); /* pastel yellow */
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

*, *::before, *::after {
  /* Use a more-intuitive box-sizing model */
  box-sizing: border-box;
  /* Remove default margins + borders */
  margin: 0;
  border: none;
  outline: none;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: 100%;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* If you try to reset the button styles, some rules won't be applied anymore for some reason */
button {
  cursor: pointer;
  transition: 0.15s ease-out;
  background-color: transparent;
  border-radius: 0.325rem;
}

button:disabled {
  cursor: not-allowed !important;
}

input:focus {
  border: none;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  word-break: break-all;
}

a:not([data-link-no-color]) {
  color: var(--blue10);
}

/* Make links less ugly */
a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

* ::backdrop {
  backdrop-filter: blur(2px);
}